@page "/products/list"
@page "/products/list/{CategoryId:int}"
@inject ProductService ProductService;
@inject CategoryService CategoryService;
@inject TagService TagService;
<h4>ProductList</h4>



<RadzenDataGrid Data="@Products" TItem="Product" AllowSorting="true" AllowPaging="true" PageSize="20" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowColumnResize="true"
 SelectionMode="DataGridSelectionMode.Single" @bind-Value="@currentProduct" CellRender="@CellRender" RowRender="@RowRender">
    <Columns>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.Id)" Title="ID" Filterable="false" Visible="false"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.Sku)" Title="Sku" Frozen="true"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.ProductName)" Title="Name"></RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.ProductType)" Title="Type" FilterValue="@currentProductType" Type="typeof(ProductTypeEnum)">
            <Template Context="data">
                @((ProductTypeEnum)data.ProductType)
            </Template>
            <FilterTemplate>
                <RadzenDropDown Data="@(Enum.GetValues(typeof(ProductTypeEnum)).Cast<ProductTypeEnum?>().Select(t => new { Text = $"{t}", Value = t == ProductTypeEnum.All ? null : t }))"  ValueProperty="Value" TextProperty="Text" @bind-Value="@currentProductType"></RadzenDropDown>
            </FilterTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.CostingMethod)" Title="Costing" FilterValue="@currentCostingMethod">
            <Template Context="data">
                @CostingMethods[data.CostingMethod]
            </Template>
            <FilterTemplate>
                <RadzenDropDown Data="@CostingMethods" TValue="string" @bind-Value="@currentCostingMethod" ValueProperty="Key" TextProperty="Value" Change="@OnFilterCostingMethodChange"
                ></RadzenDropDown>
            </FilterTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Product" Property="CategoryId" SortProperty="Category.Name" GroupProperty="Category.Name"
                              FilterValue="@currentCategory" FilterProperty="Category.Id" Title="Category" >
            <Template Context="data">
                @(data.Category?.Name)
            </Template>
            <FilterTemplate>
                <RadzenDropDown Data="@Categories" TValue="int?" TextProperty="Name" ValueProperty="Id" Change="@OnFilterCategoryChange" @bind-Value="@currentCategory"></RadzenDropDown>
            </FilterTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.ListPrice)" Title="Price" FormatString="{0:c}" TextAlign="TextAlign.Right"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.OnMarketSince)" Title="Launched" FormatString="{0:d}"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.Weight)" Title="Weight (Kg)"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="@nameof(Product.PackDimension)" Title="Pack"></RadzenDataGridColumn>

    </Columns>

</RadzenDataGrid>


<p>Aggiungi Tag a Prodotto: <span>@currentProduct?[0].Id</span></p>
<RadzenTextBox @bind-Value="TagName"></RadzenTextBox>
<RadzenButton Text="Salva" Click="SaveTag"></RadzenButton>