@page "/categories/list"
@inject CategoryService CategoryService;
@inject DialogService DialogService;

<h3>Categories List</h3>

<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Category" Click="@InsertRow" Disabled=@(categoryToInsert != null) />
<RadzenDataGrid @ref="CategorysGrid" TItem="Category" Data="@Categories" LoadData="@LoadData" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
    <Columns>
        <RadzenDataGridColumn TItem="Category" Property="@nameof(Category.Id)" Title="Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Category" Property="@nameof(Category.Name)" Title="Name">
            <EditTemplate Context="category">
                <RadzenTextBox @bind-Value="category.Name"></RadzenTextBox>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Category" Property="@nameof(Category.Description)" Title="Description">
            <EditTemplate Context="category">
                <RadzenTextArea @bind-Value="category.Description"></RadzenTextArea>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Category" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="category">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(category))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="category">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(category))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(category))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Category" Context="category" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
            <Template Context="category">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Class="m-1" Click="@(args => DeleteRow(category))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="category">


            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


